<%- include('../blocks/header', {bot, user, path}) %>
<h2>Sunucu İstatistikleri</h2>

<title>İstatistik</title>

  <div class="row">
    <div class="col col-4">
      <%- include('../blocks/guild-card', {guild}) %>
    </div>
    <div class="col">
      <div class="card" style="width: 100%;">
        <%- include('../blocks/guild-nav', {active: "stats", guild}) %>
        </div>
    </div>
  </div>

  <% include ../blocks/guild-modals %>
  <script type="text/javascript">
    var ts = parseInt($('#guildCreate').text());
    $('#guildCreate').html(`<strong>Kurulduğu Tarih:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);
  </script>
<SCRIPT language=JavaScript>

   

    var message = "**Bu sayfada rightclik basamassın**";

    function rtclickcheck(keyp){ if (navigator.appName == "Netscape" && keyp.which == 3){ alert(message); return false; }

    if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) { alert(message); return false; } }

    document.onmousedown = rtclickcheck;

    </SCRIPT>
<% include ../blocks/footer %>
